-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: talent_flow_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `avantage`
--

DROP TABLE IF EXISTS `avantage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `avantage` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `offre_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `offre_id` (`offre_id`)
) ENGINE=MyISAM AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avantage`
--

LOCK TABLES `avantage` WRITE;
/*!40000 ALTER TABLE `avantage` DISABLE KEYS */;
/*!40000 ALTER TABLE `avantage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidature`
--

DROP TABLE IF EXISTS `candidature`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidature` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `offre_id` int(11) NOT NULL,
  `cv_url` varchar(500) DEFAULT NULL,
  `motivation` text DEFAULT NULL,
  `date_postulation` timestamp NOT NULL DEFAULT current_timestamp(),
  `statut` varchar(50) DEFAULT 'EN_ATTENTE',
  `email` varchar(255) DEFAULT NULL,
  `langue` varchar(50) DEFAULT 'INCONNU',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `offre_id` (`offre_id`),
  CONSTRAINT `candidature_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `candidature_ibfk_2` FOREIGN KEY (`offre_id`) REFERENCES `offre` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidature`
--

LOCK TABLES `candidature` WRITE;
/*!40000 ALTER TABLE `candidature` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidature` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `postId` int(11) NOT NULL,
  `author_id` int(11) NOT NULL,
  `authorName` varchar(100) NOT NULL,
  `content` text NOT NULL,
  `createdAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_comment_user` (`author_id`),
  KEY `idx_comment_post` (`postId`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
INSERT INTO `comments` VALUES (1,1,2,'Ben Ali Sami','Thank you for creating this forum!','2026-02-20 14:03:58'),(2,2,3,'Trabelsi Amine','Please send your CV to our email.','2026-02-20 14:03:58'),(3,3,1,'Krimi Mounib','This is a great opportunity for candidates.','2026-02-20 14:03:58'),(8,1,1,'admin1','aaaa','2026-02-21 03:54:18'),(9,13,1,'admin1','├╣am;d','2026-02-25 07:46:25'),(10,13,1,'admin1','├╣zm;daz├╣;d','2026-02-25 07:46:29'),(11,13,1,'admin1','├╣ma;zd├╣m','2026-02-25 07:46:33'),(13,15,1,'admin1','kkkk','2026-03-02 15:00:12');
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `decision_finale`
--

DROP TABLE IF EXISTS `decision_finale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `decision_finale` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `entretien_id` int(11) NOT NULL,
  `decision` enum('ACCEPTE','REFUSE','EN_ATTENTE') NOT NULL DEFAULT 'EN_ATTENTE',
  `motif` varchar(255) DEFAULT NULL,
  `date_decision` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `score` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_decision_entretien` (`entretien_id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision_finale`
--

LOCK TABLES `decision_finale` WRITE;
/*!40000 ALTER TABLE `decision_finale` DISABLE KEYS */;
/*!40000 ALTER TABLE `decision_finale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entretien`
--

DROP TABLE IF EXISTS `entretien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entretien` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `candidature_id` int(11) NOT NULL,
  `date_heure` datetime NOT NULL,
  `type` varchar(20) DEFAULT NULL,
  `lieu` varchar(255) DEFAULT NULL,
  `lien` varchar(255) DEFAULT NULL,
  `statut` varchar(20) DEFAULT NULL,
  `note_technique` int(11) DEFAULT NULL,
  `note_communication` int(11) DEFAULT NULL,
  `commentaire` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_entretien_candidature` (`candidature_id`),
  CONSTRAINT `entretien_ibfk_1` FOREIGN KEY (`candidature_id`) REFERENCES `candidature` (`id`),
  CONSTRAINT `fk_entretien_candidature` FOREIGN KEY (`candidature_id`) REFERENCES `candidature` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entretien`
--

LOCK TABLES `entretien` WRITE;
/*!40000 ALTER TABLE `entretien` DISABLE KEYS */;
INSERT INTO `entretien` VALUES (7,1,'2026-02-11 19:05:38','PRESENTIEL','Bureau RH',NULL,'TERMINE',15,14,'Bon niveau technique et bonne communication.','2026-02-09 20:05:38','2026-02-09 20:05:38'),(8,2,'2026-03-02 00:15:00','EN_LIGNE','','https:\\\\meet','REALISE',NULL,NULL,'','2026-03-02 01:01:08','2026-03-02 01:01:32'),(9,3,'2026-02-24 10:00:00','PRESENTIEL','salle 10','','REALISE',15,18,'','2026-03-02 01:05:17','2026-03-02 01:07:00'),(10,1,'2026-02-25 11:30:00','EN_LIGNE','','https:\\\\meet','REALISE',15,18,'goooooooood','2026-03-02 01:35:48','2026-03-02 01:35:48');
/*!40000 ALTER TABLE `entretien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `senderId` int(11) NOT NULL,
  `receiverId` int(11) NOT NULL,
  `content` text NOT NULL,
  `sentAt` timestamp NOT NULL DEFAULT current_timestamp(),
  `audioPath` varchar(500) DEFAULT NULL,
  `duration` int(11) DEFAULT NULL,
  `transcript` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_message_sender` (`senderId`),
  KEY `idx_message_receiver` (`receiverId`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offre`
--

DROP TABLE IF EXISTS `offre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offre` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `localisation` varchar(255) DEFAULT NULL,
  `type_contrat` varchar(50) DEFAULT 'CDI',
  `mode_travail` varchar(50) DEFAULT 'ON_SITE',
  `salaire_min` double DEFAULT 0,
  `salaire_max` double DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `statut` varchar(50) DEFAULT 'PUBLISHED',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offre`
--

LOCK TABLES `offre` WRITE;
/*!40000 ALTER TABLE `offre` DISABLE KEYS */;
INSERT INTO `offre` VALUES (1,'cvbcj','hamza','tunis','CDI','ON_SITE',0,0,1,'PUBLISHED'),(2,'aaaa','qsdfghjklm','tunis','Freelance','ON_SITE',1000,1500,1,'PUBLISHED'),(4,'developpeur java','nous recherchons un jeun developpeur dynamique','kairouan','CDI','ON_SITE',800,2000,1,'PUBLISHED'),(6,'senior','aaaaaaaaaaaaaaaaaaaaaaaaa','monastir','Stage','REMOTE',1200,2400,1,'PUBLISHED'),(7,'data analyst','we need someone who can be available 24/7 in the office','sousse','Alternance','REMOTE',700,900,1,'PUBLISHED');
/*!40000 ALTER TABLE `offre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `piece_jointe`
--

DROP TABLE IF EXISTS `piece_jointe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `piece_jointe` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `candidature_id` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `type_doc` varchar(50) NOT NULL,
  `url` varchar(500) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `candidature_id` (`candidature_id`),
  CONSTRAINT `piece_jointe_ibfk_1` FOREIGN KEY (`candidature_id`) REFERENCES `candidature` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `piece_jointe`
--

LOCK TABLES `piece_jointe` WRITE;
/*!40000 ALTER TABLE `piece_jointe` DISABLE KEYS */;
/*!40000 ALTER TABLE `piece_jointe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post_votes`
--

DROP TABLE IF EXISTS `post_votes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `post_votes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `postId` int(11) NOT NULL,
  `userId` int(11) NOT NULL,
  `vote_type` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_vote_post` (`postId`),
  KEY `fk_vote_user` (`userId`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post_votes`
--

LOCK TABLES `post_votes` WRITE;
/*!40000 ALTER TABLE `post_votes` DISABLE KEYS */;
INSERT INTO `post_votes` VALUES (11,1,4,1),(12,10,1,1);
/*!40000 ALTER TABLE `post_votes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `author_id` int(11) NOT NULL,
  `authorName` varchar(100) NOT NULL,
  `authorRole` varchar(50) NOT NULL,
  `upvotes` int(11) DEFAULT 0,
  `createdAt` timestamp NOT NULL DEFAULT current_timestamp(),
  `image_path` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_post_author` (`author_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `prenom` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('ADMIN','RH','CANDIDAT') NOT NULL,
  `telephone` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQUE` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-02 17:36:45
